html
     head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="icon" href="../images/book_dairy.png" type="image/png" sizes="64x64")
        link(rel="stylesheet", href="../style/custom.css")
     body
        block navigate
        block content