extends ./layouts/common

block navigate
    ul.nav
        li.nav-item
            a.nav-link.active(href='/users') Users
        li.nav-item
            a.nav-link(href='/books') Books
        li.nav-item
            a.nav-link(href='/transactions') Transactions