<div class="navbar_top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/products">Products</a>
        <a class="nav-link" href="/transfer/create">Transfer money</a>
        <a class="nav-link" href="#">Goto Card</a>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Card
        </button>
        {{#if cards}}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {{#each cards}}
            <a class="dropdown-item" href="#">{{id}}:{{count}}</a>
          {{/each}}
        </div>
        {{/if}}
      </div>
    </div>
  </nav>
</div>