body {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar_top {
    margin: 10px 0;
}

.content .table_content {
    margin-top: 10px;
}

.btn {
    margin: 5px;
}

.main_product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0px;
}
