<div class="main_product">
{{#each products}}
    <div class="card" style="width: 18rem;">
        <img src="{{{image}}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="/products/add/{{{id}}}" class="btn btn-primary">Add to card</a>
        </div>
    </div>
{{/each}}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="/products?page=1">1</a></li>
        <li class="page-item"><a class="page-link" href="/products?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="/products?page=3">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>